.head{
  background-color:white;
  color:black;
  height: 100px;
  border-bottom: 2px solid rgb(238, 174, 235);
  overflow: hidden;
}
a:hover, a:active {
  color:rgb(236, 156, 196);
  text-decoration: none;
  box-shadow: none ;
}
.menu-spacer{
  flex: 1 1 auto;

}
.links{
  margin-top: 45px;
  margin-right: 40px;
}
a{
  font-size: 20px;
  color: rgb(155, 5, 92);
}
.imagecontainer
{
    height: 278%;
    width: 20%;
    margin-top: 28px;
}


.mat-elevation-z4 {
  max-width: 255px;
  float:left;
  margin: 20px;
  
}

.mat-card-image{
  height:200px;
  width: 255px;
  margin:0;
}

.container{
  background-image: url("https://img.freepik.com/free-photo/wooden-background_24972-623.jpg?size=626&ext=jpg");
  max-width: 100%;
  min-height: 100vh ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:auto;
  padding: 76px 76px 0;
}
.special-head{
  background-color:rgb(231, 8, 8);
  font-size:large;
}
.mat-card-title {
  font-size: 25px;
}
.mat-card-header{
  height: 48px;
  padding-top: 14px;
}
.mat-card{
  padding:0 !important;
}
.mat-card-content{
  padding:5px !important;
}
.isveg{
  border-bottom:solid;
  background-color:rgb(19, 117, 19);
  padding: 7px 0 7px 72px;
  font-size:21px;
}
.mat-list .mat-list-item {
  height: 35px;
}
.mat-list-base {
  padding-top: 0px;
}
.mat-list-item.mat-focus-indicator.isveg{
  padding-left:66px;
  }
.price {
  color: #061c98;
  font-size: 20px;
  padding-left: 61px;
  padding-bottom: 5px;
}
.details{
  padding-left: 61px;
  font-size: 17px;
  color: #0c034c;
}
.name{
  margin-top:36px;
}


 
